In [1]:
import numpy as np
import pandas as pd

data = pd.read_csv("data/train.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39609 entries, 0 to 39608
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           39609 non-null  object
 1   사고일시         39609 non-null  object
 2   요일           39609 non-null  object
 3   기상상태         39609 non-null  object
 4   시군구          39609 non-null  object
 5   도로형태         39609 non-null  object
 6   노면상태         39609 non-null  object
 7   사고유형         39609 non-null  object
 8   사고유형 - 세부분류  39609 non-null  object
 9   법규위반         39609 non-null  object
 10  가해운전자 차종     39609 non-null  object
 11  가해운전자 성별     39609 non-null  object
 12  가해운전자 연령     39609 non-null  object
 13  가해운전자 상해정도   39609 non-null  object
 14  피해운전자 차종     38618 non-null  object
 15  피해운전자 성별     38618 non-null  object
 16  피해운전자 연령     38618 non-null  object
 17  피해운전자 상해정도   38618 non-null  object
 18  사망자수         39609 non-null  int64
 19  중상자수         39609 non-null  int64
 20  경상자수         39609 non-null  int64
 21  부상자수         39609 non-null  int64
 22  ECLO         39609 non-null  int64
dtypes: int64(5), object(18)
memory usage: 7.0+ MB

In [2]:
data['ECLO'].value_counts()
data = data.dropna()
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38618 entries, 0 to 39608
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           38618 non-null  object
 1   사고일시         38618 non-null  object
 2   요일           38618 non-null  object
 3   기상상태         38618 non-null  object
 4   시군구          38618 non-null  object
 5   도로형태         38618 non-null  object
 6   노면상태         38618 non-null  object
 7   사고유형         38618 non-null  object
 8   사고유형 - 세부분류  38618 non-null  object
 9   법규위반         38618 non-null  object
 10  가해운전자 차종     38618 non-null  object
 11  가해운전자 성별     38618 non-null  object
 12  가해운전자 연령     38618 non-null  object
 13  가해운전자 상해정도   38618 non-null  object
 14  피해운전자 차종     38618 non-null  object
 15  피해운전자 성별     38618 non-null  object
 16  피해운전자 연령     38618 non-null  object
 17  피해운전자 상해정도   38618 non-null  object
 18  사망자수         38618 non-null  int64
 19  중상자수         38618 non-null  int64
 20  경상자수         38618 non-null  int64
 21  부상자수         38618 non-null  int64
 22  ECLO         38618 non-null  int64
dtypes: int64(5), object(18)
memory usage: 7.1+ MB

In [3]:
data['사고일시'] = data['사고일시'].str.split(" ").str.get(1)
data['사고일시'].value_counts()

사고일시
18    3356
17    2720
19    2691
16    2478
15    2310
14    2300
13    2158
20    2120
12    2051
11    1974
08    1894
10    1760
21    1712
09    1690
22    1459
07    1183
23    1055
00     792
06     720
01     627
02     471
05     441
04     329
03     327
Name: count, dtype: int64

In [4]:
data = data.drop(data[data['기상상태'] == '기타'].index)
data = data.drop(data[data['노면상태'] == '기타'].index)


data['기상상태'].value_counts()
data['노면상태'].value_counts()


#기상상태

노면상태
건조       35531
젖음/습기     2961
서리/결빙       19
적설           3
침수           2
Name: count, dtype: int64

In [5]:
#data['ECLO'].value_counts()

In [6]:
data['시군구'] = data['시군구'].str.split(" ").str.get(1)
data['시군구'].value_counts()

시군구
달서구    9689
수성구    6552
북구     6441
동구     5140
서구     3415
달성군    2635
남구     2496
중구     2148
Name: count, dtype: int64

In [7]:
data = data.drop(data[data['가해운전자 성별'] == '기타불명'].index)
data['가해운전자 성별'].value_counts()

가해운전자 성별
남    28112
여     9433
Name: count, dtype: int64

In [8]:
data['가해운전자 연령']=pd.to_numeric(data['가해운전자 연령'].str.extract('(\d+)', expand=False), errors='coerce')
data['피해운전자 연령']=pd.to_numeric(data['피해운전자 연령'].str.extract('(\d+)', expand=False), errors='coerce')

data['가해운전자 연령'].value_counts()
data['피해운전자 연령'].value_counts()

피해운전자 연령
59.0    843
57.0    822
50.0    801
26.0    799
58.0    786
       ...
91.0      4
93.0      2
94.0      1
92.0      1
98.0      1
Name: count, Length: 95, dtype: int64

In [9]:
bins = [0, 6, 12, 18, 24]
labels = ['dawn', 'morn', 'aftern', 'night']

data['사고일시']=data['사고일시'].astype(int)
data['하루시간구분'] = pd.cut(data['사고일시'], bins=bins, labels=labels, right=False)
data['하루시간구분'] = data['하루시간구분'].astype('object')

data['하루시간구분'].value_counts()

하루시간구분
aftern    13726
night     11929
morn       9030
dawn       2860
Name: count, dtype: int64

In [10]:

#피해운전자 차종,성별 기타불명
data = data.drop(data[data['피해운전자 차종'] == '기타불명'].index)
data = data.drop(data[data['피해운전자 성별'] == '기타불명'].index)
data = data.drop(data[data['가해운전자 차종'] == '기타불명'].index)


data['피해운전자 차종'].value_counts()
data['가해운전자 차종'].value_counts()
data = data.dropna()

print(data.isnull().sum())

data.to_csv("data/pre.csv")

ID             0
사고일시           0
요일             0
기상상태           0
시군구            0
도로형태           0
노면상태           0
사고유형           0
사고유형 - 세부분류    0
법규위반           0
가해운전자 차종       0
가해운전자 성별       0
가해운전자 연령       0
가해운전자 상해정도     0
피해운전자 차종       0
피해운전자 성별       0
피해운전자 연령       0
피해운전자 상해정도     0
사망자수           0
중상자수           0
경상자수           0
부상자수           0
ECLO           0
하루시간구분         0
dtype: int64

In [11]:
data.columns.tolist

<bound method IndexOpsMixin.tolist of Index(['ID', '사고일시', '요일', '기상상태', '시군구', '도로형태', '노면상태', '사고유형',
       '사고유형 - 세부분류', '법규위반', '가해운전자 차종', '가해운전자 성별', '가해운전자 연령', '가해운전자 상해정도',
       '피해운전자 차종', '피해운전자 성별', '피해운전자 연령', '피해운전자 상해정도', '사망자수', '중상자수',
       '경상자수', '부상자수', 'ECLO', '하루시간구분'],
      dtype='object')>

In [12]:
data['가해운전자 연령'].value_counts()

가해운전자 연령
60.0    1004
58.0     950
53.0     928
57.0     912
51.0     885
        ...
89.0       8
7.0        8
8.0        4
90.0       3
98.0       1
Name: count, Length: 85, dtype: int64